Django==1.4.3
argparse==1.2.1
boto==2.7.0
distribute==0.6.34
dj-database-url==0.2.1
django-storages==1.1.6
gunicorn==0.17.2
psycopg2==2.4.6
wsgiref==0.1.2
simplejson
PIL
django-extensions
ipython
ipdb
django-colorful
south
