{% extends 'main/base.html' %}

{% block content %}

<h3>About us</h3>
<p><a class="logo" href="/"><span class="logocellsmall">Cell</span><span class="logocountsmall">Countr</span></a> was conceived and developed during NHS Hackdays &ndash; Liverpool 2012 and Oxford 2013, by a team of haematologists, junior doctors, medical students, clinical scientists and professional developers.</p>

<p>We aim to make bone marrow aspirate diagnosis faster, more accurate, and educational.</p>

<p>If you would like to be involved we would love to hear from you: <a href="mailto:info@cellcountr.com?subject=Getting involved">info@cellcountr.com</a><br>
We would welcome your feedback: <a href="mailto:feedback@cellcountr.com">feedback@cellcountr.com</a></p>

<p>Follow us on twitter for updates: <a href="https://twitter.com/cellcountr" class="twitter-follow-button" data-show-count="false">Follow @cellcountr</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

<p>The source code can currently be found here: <a href="https://github.com/oghm2/cellcounter">https://github.com/oghm2/cellcounter</a></p> 

<p>The source code is released under the MIT License (MIT). Details can be found on the Github repository</p>

{% endblock %}
