{% extends 'main/base.html' %}

{% block content %}

<h3>About us</h3>
<p><a href="/"><span class="logocellsmall">Cell</span><span class="logocountsmall">Countr</span></a> was conceived and developed at the <a href="http://nhshackday.com">NHS Hack Days</a> in Liverpool 2012 and Oxford 2013, by a team of haematologists, junior doctors, medical students, clinical scientists and professional developers.</p>

<p>We aim to make bone marrow aspirate diagnosis faster, more accurate, and educational.</p>

<p>If you would like to be involved we would like to hear from you at <a href="mailto:cellcountr@gmail.com?subject=Getting involved">cellcountr@gmail.com</a><!--<a href="mailto:info@cellcountr.com?subject=Getting involved">info@cellcountr.com</a>-->. We would welcome your feedback at <a href="mailto:cellcountr@gmail.com?subject=Feedback">cellcountr@gmail.com</a><!--<a href="mailto:feedback@cellcountr.com">feedback@cellcountr.com</a>-->, or visit our <a href="https://groups.google.com/forum/?hl=en-GB&fromgroups=#!forum/cellcountr">Google Group</a>.</p>

<p>For updates and new features be sure to follow us on twitter <a href="https://twitter.com/cellcountr" class="twitter-follow-button" data-show-count="false">@cellcountr</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

<p>A standalone basic speadsheet version of the diff counter is also available to download: <a href="https://dl.dropbox.com/u/640094/Diff%20Calculator_Public.xls">Diff Calculator_Public.xls</a></p>

<p>The source code can currently be found here: <a href="https://github.com/oghm2/cellcounter">https://github.com/oghm2/cellcounter</a>. The code is free to download and is released under the MIT License. Details can be found on the Github repository.</p>

{% endblock %}
