{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for performing manual cell differentials on peripheral blood cells or bone marrow aspirates with live visualisations.">
    <title>CellCountr</title>
    {% compress css %}
    <link href="{% static "icons/favicon.png" %}" rel="icon" sizes="32x32" type="icon/png">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/cellcounter.css" %}" rel="stylesheet">
    <link href="{% static "css/keyboard.css" %}" rel="stylesheet">
    <link href="{% static "css/ui-lightness/jquery-ui-1.10.0.custom.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-editable.min.css" %}" rel="stylesheet"/>
    {% endcompress %}
    <!--[if IE 7]>
    <link rel="stylesheet" href="{% static "css/style_ie_hacks.css" %}" type="text/css" media="screen" />
    <![endif]-->

</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"><span class="logocell">Cell</span><span class="logocount">countr</span></a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{% url "new_count" %}">Work</a></li>
                    <li><a href="{% url "discover" %}">Discover</a></li>
                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="{% url "help" %}">Help</a></li>
                </ul>

                <ul class="nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url "user-detail" user.id %}">{{ user }}</a></li>
                        <li><a href="{% url "logout" %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url "register" %}">Register</a></li>
                        <li><a href="{% url "login" %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="fuzz"></div>

<div class="container">
<div id="content">
<div class="row">
    <div id="alerts" class="span12">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags == "error" %}alert-error{% endif%}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% if message.tags %}<h4>{{message.tags|upper}}</h4>{% endif %}
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    </div>
</div>

<div class="row">
    <div class="span12">
        {% block content %}{% endblock %}
    </div>
</div>

<div id="footer">
<div class="rule"></div>
    <ul>
      <li>Copyright &copy; 2012-{% now "Y" %} CellCountr</li>
      <li><a href="/terms">Terms of Use</a></li>
      <li><a href="/privacy">Privacy policy</a></li>
      <li>
        <a href="http://validator.w3.org/check?uri=referer">
        <img style="border:0;"
             src="{% static "images/valid-xhtml10-blue" %}"
             alt="Valid XHTML 1.0 Transitional" height="31" width="88" />
        </a>
      </li>
      <li>
        <a href="http://bigv.io">
        <img style="border:0;"
             src="{% static "images/bigv_logo.png" %}"
             alt="Kindly sponsored by BigV" height="35" width="101" />
        </a>
      </li>
        <li>
        <a href="https://www.jetbrains.com/pycharm/">
        <img style="border:0;"
             src="{% static "images/pycharm_logo.png" %}"
             alt="Developed with PyCharm" height="30" width="150" />
        </a>
      </li>
    </ul>
</div>
</div>
</div>

<!--[if lte IE 8]><script src="{% static "js/toisostringshim.js" %}"></script><![endif]-->
{% compress js %}
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui-1.10.0.custom.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap-editable.min.js" %}"></script>
<script src="{% static "js/images.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
{% endcompress %}

<!--[if lte IE 8]><script src="{% static "js/r2d3.min.js" %}" charset="utf-8"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="{% static "js/d3.v3.min.js" %}"></script><!--<![endif]-->

{% block additional_scripts %}{% endblock %}

</body>
</html>
