<!DOCTYPE html>

<head>
    <title>CellCounter</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/960_16_col.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/cellcounter.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/keyboard.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/counter.js"></script>
</head>

<body class="container_16">

<div class="navbar class="grid_16">
  <div class="navbar-inner">
    <a class="brand grid_4" href="#">
		<img align="middle" height="75" width="75" src="static/images/sexy_slide.jpg"></img>
		Blood Count
	</a>
		

    <ul class="nav">
      <li class="active grid_2"><a href="/work/">Work</a></li>
      <li class="grid_2"><a href="/discover/">Discover</a></li>
      <li class="grid_2"><a href="/share/">Share</a></li>
      <li class="grid_2"><a href=""></a></li>
      <li class="active grid_2 omega"><a class="btn btn-info grid_2 omega" href="/login/">Login</a>
</li>



    </ul>
  </div>
</div>

        
 <div id="fuzz"></div>
    <div id="content" class="grid_16">
        {% block content %}{% endblock %}
    </div>
</body>
    
</html>
