<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CellCounter</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/cellcounter.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/keyboard.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/counter.js"></script>
</head>
<body>
    
<div class="container">
<div class="row">
    <div class="span2">
        <a class="brand" href="/"><img src="{{ STATIC_URL }}images/title_slide.jpg"></img></a>
    </div>
    <div class="span2">
        <a class="brand" href="/"><img src="{{ STATIC_URL }}images/title_logo.png"></img></a>
    </div>
    <div class="span8 navbar">
        <ul class="nav">
            <li><a href="/count/new/">Work</a></li>
            <li><a href="http://wai2k.smugmug.com/bloodcount">Discover</a></li>
            <li><a href="/share/">Share</a></li>
            <li><a class="btn btn-warning" href="/login/">Login</a></li>
        </ul>
    </div>
</div>

<div id="fuzz"></div>

<div id="content" class="row">
    <div class="span12">
        {% block content %}{% endblock %}
    </div>
</div>
</div>

</body>
</html>
