{% extends 'main/base.html' %}
{% block content %}
<h2>My Counts</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Count</th><th>Created</th><th>Modified</th><th>Tissue Type</th><th>Actions</th></tr>
    </thead>
    {% for count in count_list %}
    <tr>
        <td><b>{{ count }}</b></td>
        <td>{{ count.datetime_submitted }}</td>
        <td>{{ count.datetime_updated }}</td>
        <td>{{ count.tissue_type }}</td>
        <td>
            <a class="btn btn-small" href="/count/{{count.id}}" title="View"><i class="icon-file"></i></a>
            <a class="btn btn-small" href="/count/{{count.id}}/edit/" title="Edit"><i class="icon-pencil"></i></a>
            <a class="btn btn-small btn-danger" href="/count/{{count.id}}/delete/" title="Delete"><i class="icon-trash icon-white"></i></a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a class="btn btn-small btn-block btn-success" href="/count/new/" title="New"><i class="icon-plus icon-white"></i> New Count</a>
        </td>
    </tr>
</table>
{% endblock %}
