{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}

{% comment %} 
<div id="notloggedin">
<img src="{% static "images/alert.png" %}" style="float:left; margin-right: 20px" alt="Alert" />
<h3>Not logged in</h3>
<p>You may use the cell counter without logging in, but you will be unable to save any changes to your keyboard map.</p>
<p><a href="/login/?next=/count/new/">Click here to log in.</a></p>
</div>
 {% endcomment %}
{% if not logged_in %}
<script type="text/javascript">
var notloggedin=true;
</script>
{% endif %}

<h3>Welcome to CellCountr!</h3>
<p>CellCountr provides a simple way to perform cell differentials on a peripheral blood or bone marrow aspirate</p>

<h4>Instructions</h4>
<div class="well well-small">
<ul>
    <li>Press the key corresponding to a cell type to add a count.</li>
    <li>Press 'Backspace' to remove last normal/abnormal cell entered.</li>
    <li>To flag a cell as abnormal press 'Space+Key'.</li>
    <li>Pressing and holding '#' will convert the raw count numbers to a percentage</li>
    <li>To see example images of the cells in question press 'Shift+Key'.</li>
    <li>Once your count is complete, click 'Close & display results' to see a tabulated report</li>
    <li>You may download the data as a csv file using blue button below the report.</li>
    <li>Continue counting where you left off using the green button above the report, or start a new count using the red button.</li>
</ul>
</div>


{% include "main/keyboard_snippet.html" %}

<div style="width: 100%">
    <div id="statistics" style="float: left; margin-bottom: 20px;"></div>
    <div id="visualise2" style="display: none; position: relative;">
        <div id="doughnut2"></div>
        <div id="total2" style="width: 100%; height: 100%; text-align: center; position: absolute; left: 0px; top: 0px; line-height: 200px">0</div>
    </div>
</div>
<div style="clear: both; position: relative; display: none;" id="savefilebutton">
    <div id="downloadify" style="position: absolute; top:0px; left:0px;">
    <p>You must have Flash 10 installed to download this file.</p>
    </div>
    <p><button class="btn btn-primary" id="downloadify_button" style="width:130px">Save as CSV</button> (this may be opened with Microsoft Excel)</p>
</div>

<p>At present this site is optimised for Firefox or Chromium-based web browsers, and display sizes of at least 1024x768. See the <a href="/about/">About</a> section for more information.</p>

{% endblock %}

{% block additional_scripts %}
<script src="{% static "js/visualise.js" %}"></script>
<script src="{% static "js/counter.js" %}"></script>
<script>
    $(function() {
        open_keyboard();
    });
</script>
{% endblock %}
