{% extends 'main/base.html' %}

{% block content %}

Cellcountr intends to allow users to explore images in a innovative, educational and exciting ways. However we have not quite built anything yet ... so in the mean time, here is a few links to useful image banks.

<h3><a href = "http://www.hematologyatlas.com/principalpage.htm">HaematologyAtlas.com</a></h3>
A great resource made available by Nivaldo Medeiros, MD who have kindly given permission for us to use his images for CellCountr.


<h3><a href = "http://imagebank.hematology.org/">ASH Imagebank</a></h3>
The American Society of Haematology imagebank. Also very useful for Lymph Node and Trephines

<h3><a href = "http://pathy.med.nagoya-u.ac.jp/atlas/doc/atlas.html">Haematology Atlas from Nagoya University School of Medicine</a></h3>
Made available by Nagoya University School of Medicine Department of Medicine The Branch Hospital, Takuji Ichihashi. I'm not sure how much this site gets updated.

<h3><a href = "http://image.bloodline.net/">Bloodline.net</a></h3>
A well categorised set of images from bloodline.net

{% endblock %}
