{% extends 'main/base.html' %}

{% block content %}

<h3>Discover&hellip;</h3>
<p><span class="logocellsmall">Cell</span><span class="logocountsmall">Countr</span> intends to allow users to explore images in a innovative, educational and exciting ways. However we have not quite built anything yet &hellip; so in the mean time, here is a few links to useful image banks.</p>

<h4><a href = "http://www.hematologyatlas.com/principalpage.htm">HaematologyAtlas.com</a></h4>
<p>A great resource made available by Nivaldo Medeiros MD, who has kindly given permission for us to use his images for <span class="logocellsmall">Cell</span><span class="logocountsmall">Countr</span>.</p>

<h4><a href = "http://imagebank.hematology.org/">ASH Imagebank</a></h4>
<p>The American Society of Hematology Imagebank. Also very useful for lymph node and trephine histology.</p>

<h4><a href = "http://www.ehaweb.org/education-science/online-learning-tools/morphology-database/">EHA / ELN Morphology Database</a></h4>
<p>The European Leukaemia Net image library consists of an extensive database of well categorised and labelled cells as well as resources exploring diagnostic flow cytometry in some detail.</p>

<h4><a href = "http://www.bloodmed.com/home/allslideatlas.asp">www.bloodmed.com Slide Atlas</a></h4>
<p>BloodMed.com hosts slides and numerous other resources relevant to practising and trainee haematologists.</p> 

<h4><a href = "http://pathy.med.nagoya-u.ac.jp/atlas/doc/atlas.html">Haematology Atlas from Nagoya University School of Medicine</a></h4>
<p>Made available by Takuji Ichihashi MD PhD of the Nagoya University School of Medicine, Tomoki Naeo of Nagasaki University, Kazutaka Kuriyama of Kyoto University College of Medical Technology and Masataka Sasada of Hamamatsu Univserity School of Medicine. We're not sure how much this site gets updated.</p>

<h4><a href = "http://image.bloodline.net/">Bloodline.net</a></h4>
<p>A well categorised set of images from bloodline.net.</p><br>
<p>Please email us at <a href="mailto:cellcountr@gmail.com?Subject=Resource Suggestion">cellcountr@gmail.com</a> if you have any additional resource suggestions.</p>

{% endblock %}
