{% extends 'main/base.html' %}

{% block content %}

<h1>Edit Existing Count</h1>

{% include "main/keyboard_snippet.html" %}

<div class="form-horizontal">

    {% include "main/forms/cellcountinstance_form.html" %}

    <legend>Comments for cell types</legend>
    {% for form in cellcount_form_list %}
    <h4>{{ form.instance}}</h4>
    {% for field in form %}
    {{ field.errors }}
    {{ field }}
    {% endfor %}
    {% endfor %}

    <input class="btn btn-success" type="submit" value="Submit" />
</div>
<script type="text/javascript">erythropoiesis(); granulopoiesis(); megakaryocytes();</script>
{% endblock %}
