{% extends 'main/base.html' %}

{% block content %}

<h1>Edit Existing Count</h1>

        <div id="openkeyboard" class="btn btn-primary">Open keyboard</div>

        <div id="counterbox" style="position: relative;">
          <div style="text-align: center; width: 100%"><div id="imagebox"><div id="imgdisplay"></div></div></div>

          <div id="terbox" style="position: absolute; top: 0px; z-index: -1;">
          <!-- Row 1 -->
          <div id="boxholder1">
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c2 count" id="u">
              <font1>u</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>blasts</font2>
              <div id="key">u</div>
              <a id="img">{{ STATIC_URL }}images/101177.jpg</a>
            </div>
            <div class="box1 c2 count" id="i">
              <font1>i</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>lymphocytes</font2>
              <div id="key">i</div>
		<a id="img">{{ STATIC_URL }}images/101291.jpg</a>
            </div>
            <div class="box1 c1"></div>
            <div class="box1 c2 count" id="p">
              <font1>p</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>plasma_cells</font2>
              <div id="key">p</div>
		<a id="img">{{ STATIC_URL }}images/104107.jpg</a>
            </div>
          </div>

          <!-- Row 2 -->
          <div id="boxholder2">
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c2 count" id="g">
              <font1>g</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>other</font2>
              <div id="key">g</div>
		<a id="img"></a>
            </div>
            <div class="box1 c2 count" id="h">
              <font1>h</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>neutrophils</font2>
              <div id="key">h</div>
		<a id="img">{{ STATIC_URL }}images/103609.jpg</a>
            </div>
            <div class="box1 c2 count" id="j">
              <font1>j</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>band_forms</font2>
              <div id="key">j</div>
		      <a id="img">{{ STATIC_URL }}images/100007.jpg</a>
            </div>
            <div class="box1 c2 count" id="k">
              <font1>k</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>myelocytes</font2>
              <div id="key">k</div>
		<a id="img">{{ STATIC_URL }}images/100004.jpg</a>
            </div>
            <div class="box1 c2 count" id="l">
              <font1>l</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>promyelocytes</font2>
              <div id="key">l</div>
		<a id="img">{{ STATIC_URL }}images/101970.jpg</a>
            </div>
          </div>

          <!-- Row 3 -->
          <div id="boxholder3holder">
            <div class="box_shiftkey c3" id="shiftkey"><font3><br>view</font2></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c2 count" id="b">
              <font1>b</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>basophils</font2>
              <div id="key">b</div>
		      <a id="img">{{ STATIC_URL }}images/103721.jpg</a>
            </div>
            <div class="box1 c2 count" id="n">
              <font1>n</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>eosinophils</font2>
              <div id="key">n</div>
		<a id="img">{{ STATIC_URL }}images/100015.jpg</a>
            </div>
            <div class="box1 c2 count" id="m">
              <font1>m</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>monocytes</font2>
              <div id="key">m</div>
		<a id="img">{{ STATIC_URL }}images/103597.jpg</a>
            </div>
            <div class="box1 c2 count" id="comma">
              <font1>,</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>erythroid</font2>
              <div id="key">,</div>
		      <a id="img">{{ STATIC_URL }}images/101862.jpg</a>
            </div>
            <div class="box2 c1"></div>
            <div class="box2 c1"></div>
          </div>

          <div id="boxholder_spacebar">
            <div class="box_spacebar c3" id="spacebar"><font3><br>abnormal</font2></div>
          </div>
        </div>

        <div id="total">0</div>

        </div>

<form action="" method="POST">
    {% csrf_token %}
    <h2>Count Information</h2>
    {{ cellcountinstance_form.as_p }}
    <h2>Background Findings</h2>
    {{ bonemarrowbackground_form.as_p }}
    <h2>Granulopoiesis Findings</h2>
    {{ granulopoiesis_form.as_p }}
    <h2>Erythropoiesis Findings</h2>
    {{ erythropoiesis_form.as_p }}
    <h2>Megakaryocyte Features</h2>
    {{ megakaryocyte_form.as_p }}
    <h2>Iron Stain</h2>
    {{ ironstain_form.as_p }}

    {% for form in cellcount_form_list %}
    <h2>{{ form.instance.cell.readable_name}}</h2>
    {{ form.as_p }}
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Submit" />
</form>
<script type="text/javascript">erythropoiesis(); granulopoiesis(); megakaryocytes();</script>
{% endblock %}
