{% extends 'main/base.html' %}

{% block content %}
<div id="boxholder1">
<div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div>
<div class="box1 c2" id="u"><font1>u</font1><br><br><font2>blast</font2></div>
<div class="box1 c2" id="i"><font1>i</font1><br><br><font2>lymph</font2></div>
<div class="box1 c2" id="o"><font1>o</font1><br><br><font2>prolymph</font2></div>
<div class="box1 c2" id="p"><font1>p</font1><br><br><font2>plasma</font2></div>
</div>

<div id="boxholder2">
<div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div>
<div class="box1 c2" id="h"><font1>h</font1><br><br><font2>neut</font2></div>
<div class="box1 c2" id="j"><font1>j</font1><br><br><font2>meta</font2></div>
<div class="box1 c2" id="k"><font1>k</font1><br><br><font2>myelo</font2></div>
<div class="box1 c2" id="l"><font1>l</font1><br><br><font2>promyelo</font2></div>
</div>

<div id="boxholder3holder">
<div class="box_shiftkey c3" id="shiftkey"><font3><br>view</font2></div>
<div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div><div class="box1 c1"></div>
<div class="box1 c2" id="b"><font1>b</font1><br><br><font2>erythro</font2></div>
<div class="box1 c2" id="n"><font1>n</font1><br><br><font2>eo</font2></div>
<div class="box1 c2" id="m"><font1>m</font1><br><br><font2>mono</font2></div>
<div class="box1 c2" id="comma"><font1>,</font1><br><br><font2>promono</font2></div>
<div class="box2 c1"></div>
<div class="box2 c1"></div>
</div>

<div id="boxholder_spacebar">
<div class="box_spacebar c3" id="spacebar"><font3><br>abnormal</font2></div>
</div>

{% endblock %}
