{% extends 'main/base.html' %}

{% block content %}

<p>CellCountr provides a simple way for cells on a peripheral blood or bone marrow aspirate film to be counted and analysed.</p>

<p><div class="indextitle"><a href="{% url new_count %}">Work</a></div>Cells, including abnormal cells, can be counted with one hand.</p>

<p><div class="indextitle"><a href="{% url discover %}">Discover</a></div>Reference images at your fingertips</p>

<div style="margin-top: 30px; margin-left: 120px">
<p>
Watch the screencast below to get an overview of how CellCountr works.
</p>
<div style="clear: both;">
<iframe width="420" height="315" src="http://www.youtube.com/embed/e3ja3-1gk_0" frameborder="0" allowfullscreen></iframe>
</div>
</div>

{% endblock %}
