<div id="keyboard-buttons"></div>
<div id="counterbox" style="position: relative;" class="largekeyboard">
        <div id="keysbox" style="position: absolute; top: 0px; z-index: -1;">
        <!-- Row 1 -->
        <div id="boxholder1">
            <div class="box1 c1" id="q">
                <p>q</p>
            </div>
            <div class="box1 c1" id="w">
                <p>w</p>
            </div>
            <div class="box1 c1" id="e">
                <p>e</p>
            </div>
            <div class="box1 c1" id="r">
                <p>r</p>
            </div>
            <div class="box1 c1" id="t">
                <p>t</p>
            </div>
            <div class="box1 c1" id="y">
                <p>y</p>
            </div>
            <div class="box1 c1" id="u">
                <p>u</p>
            </div>
            <div class="box1 c1" id="i">
                <p>i</p>
            </div>
            <div class="box1 c1" id="o">
                <p>o</p>
            </div>
            <div class="box1 c1" id="p">
                <p>p</p>
            </div>
        </div>


        <!-- Row 2 -->
        <div id="boxholder2">
            <div class="box1 c1" id="a">
                <p>a</p>
            </div>
            <div class="box1 c1" id="s">
                <p>s</p>
            </div>
            <div class="box1 c1" id="d">
                <p>d</p>
            </div>
            <div class="box1 c1" id="f">
                <p>f</p>
            </div>
            <div class="box1 c1" id="g">
                <p>g</p>
            </div>
            <div class="box1 c1" id="h">
                <p>h</p>
            </div>
            <div class="box1 c1" id="j">
                <p>j</p>
            </div>
            <div class="box1 c1" id="k">
                <p>k</p>
            </div>
            <div class="box1 c1" id="l">
                <p>l</p>
            </div>
        </div>

        <!-- Row 3 -->
        <div id="boxholder3holder">
            <div class="box_shiftkey c3" id="shiftkey">
                <p>Shift</p>
            </div>
            <div class="box1 c1" id="z">
                <p>z</p>
            </div>
            <div class="box1 c1" id="x">
                <p>x</p>
            </div>
            <div class="box1 c1" id="c">
                <p>c</p>
            </div>
            <div class="box1 c1" id="v">
                <p>v</p>
            </div>
            <div class="box1 c1" id="b">
                <p>b</p>
            </div>
            <div class="box1 c1" id="n">
                <p>n</p>
            </div>
            <div class="box1 c1" id="m">
                <p>m</p>
            </div>
        </div>

        <div id="boxholder_spacebar">
            <div class="box_spacebar c3" id="spacebar">
                <p>Space</p>
            </div>
        </div>
    </div>
    <div id='visualisation' class="visualisation largekeyboard">
        <div id='doughnut'></div>
        <div class="total"></div>
    </div>
    
    <div id="editkeymapbox" title="Edit key map">
        {% if not logged_in %}<p>You may edit the keyboard map, however it will not be saved.{% endif %}<p>Select a cell type then press the key you want assigned to it. Press 'enter' to select next cell type.</p>
        <button class="btn btn-primary" id="clearkeyboard">Clear key map</button>
        {% if user.is_authenticated %}
        <button class="btn btn-primary" id="select_button">Select Keyboard</button>
        {% endif %}
        <div id="celllist">
        </div>
        <div style="padding-top: 10px; clear: both;"><input type="checkbox" id="multi_key" checked="checked" /> Only allow one key per cell type</div>
        <div style="padding-top: 10px; clear: both;"><input type="checkbox" id="auto_advance" /> Automatically advance cell type</div>
    </div>

    <button class="btn btn-primary" id="edit_button">Edit key map</button>
    <button class="btn btn-danger reset_button" id="reset_button">Reset count</button>
    <button class="btn btn-success" id="close_button">Close &amp; display results</button>
</div>
