{% extends 'main/base.html' %}

{% block content %}

{% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
{% endif %}

<form action="" method='post'>
    {% csrf_token %}
    <p><label for="username">User name:</label></p>
    <p><input type="text" name="username" value="" id="username"></p>
    <p><label for="password">Password:</label></p>
    <p><input type="password" name="password" value="" id="password"></p>
    <p><input class="btn btn-success" type="submit" value="login" /></p>
</form>
    
{% endblock %}
