{% extends 'main/base.html' %}

{% block content %}

<h3>Privacy policy</h3>

This policy covers personally identifiable information collected or stored by CellCountr on its servers. CellCountr collects and retains the least amount of personally identifiable information needed to fulfill the Projects' operational needs. 

<div id="privacy">
<h4>User accounts and authorship</h4>

<p>Users that choose to register with CellCountr are identified by their chosen username. Users select a password, which is confidential and stored in an encrypted form and used to verify the integrity of their account. Users who provide a valid email address can use it to reset their user password if necessary. Except insofar as it may be required by law, CellCountr will not disclose, or knowingly expose, either user email addresses or user passwords.</p>

<h4>IP and other technical information.</h4>

<p>When a visitor requests or reads a page no more information is collected than is typically collected by web sites. CellCountr may keep raw logs of such transactions, but these will not be published or used to track legitimate users.</p>

<h4>Disclaimer</h4>

<p>CellCountr believes that maintaining and preserving the privacy of user data is an important value. This Privacy Policy, together with other policies, resolutions, and actions by CellCountr, represents a committed effort to safeguard the security of the limited user information that is collected and retained on our servers. Nevertheless, CellCountr cannot guarantee that user information will remain private. We acknowledge that, in spite of our committed effort to protect private user information, determined individuals may still develop data-mining and other methods to uncover such information and disclose it. For this reason, CellCountr can make no guarantee against unauthorized access to information provided.</p>
</div>

<p>These terms were adapted from <a href="http://wikimediafoundation.org/wiki/Wikimedia:Privacy_policy">Wikimedia Foundation privacy policy</a> under Creative Commons License.

{% endblock %}
