{% extends 'main/base.html' %}

{% block content %}

<p>To begin a new count, click 'Open Keyboard', perform the count using your keyboard and the keys displayed. Should you wish to see example images of the cells in question, press 'Shift+Letter', to enter an abnormal variant of a cell, press 'Space+Letter', and to remove a count, press 'Backspace+Letter'. To close the keyboard, click on the grey area outside the keyboard. Once you have completed a count, fill in the remaining information in the form below, and click 'Submit'.</p>

        <div id="openkeyboard" class="btn btn-primary">Open keyboard</div>

        <div id="counterbox" style="position: relative;">
          <div style="text-align: center; width: 100%"><div id="imagebox"><div id="imgdisplay"></div></div></div>

          <div id="terbox" style="position: absolute; top: 0px; z-index: -1;">
          <!-- Row 1 -->
          <div id="boxholder1">
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c2 count" id="u">
              <font1>u</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>blasts</font2>
              <div id="key">u</div>
              <a id="img">{{ STATIC_URL }}images/101177.jpg</a>
            </div>
            <div class="box1 c2 count" id="i">
              <font1>i</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>lymphocytes</font2>
              <div id="key">i</div>
		<a id="img">{{ STATIC_URL }}images/101291.jpg</a>
            </div>
            <div class="box1 c2 count" id="o">
              <font1>o</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>histiocytes</font2>
              <div id="key">o</div>
		<a id="img">{{ STATIC_URL }}images/101276.jpg</a>
            </div>
            <div class="box1 c2 count" id="p">
              <font1>p</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>plasma_cells</font2>
              <div id="key">p</div>
		<a id="img">{{ STATIC_URL }}images/104107.jpg</a>
            </div>
          </div>

          <!-- Row 2 -->
          <div id="boxholder2">
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c2 count" id="g">
              <font1>g</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>other</font2>
              <div id="key">g</div>
		<a id="img"></a>
            </div>
            <div class="box1 c2 count" id="h">
              <font1>h</font1><br>
              <div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>neutrophils</font2>
              <div id="key">h</div>
		<a id="img">{{ STATIC_URL }}images/103609.jpg</a>
            </div>
            <div class="box1 c2 count" id="j">
              <font1>j</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>band_forms</font2>
              <div id="key">j</div>
		      <a id="img">{{ STATIC_URL }}images/100007.jpg</a>
            </div>
            <div class="box1 c2 count" id="k">
              <font1>k</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>myelocytes</font2>
              <div id="key">k</div>
		<a id="img">{{ STATIC_URL }}images/100004.jpg</a>
            </div>
            <div class="box1 c2 count" id="l">
              <font1>l</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>promyelocytes</font2>
              <div id="key">l</div>
		<a id="img">{{ STATIC_URL }}images/101970.jpg</a>
            </div>
          </div>

          <!-- Row 3 -->
          <div id="boxholder3holder">
            <div class="box_shiftkey c3" id="shiftkey"><font3><br>view</font2></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c1"></div>
            <div class="box1 c2 count" id="b">
              <font1>b</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>basophils</font2>
              <div id="key">b</div>
		      <a id="img">{{ STATIC_URL }}images/103721.jpg</a>
            </div>
            <div class="box1 c2 count" id="n">
              <font1>n</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>eosinophils</font2>
              <div id="key">n</div>
		<a id="img">{{ STATIC_URL }}images/100015.jpg</a>
            </div>
            <div class="box1 c2 count" id="m">
              <font1>m</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>monocytes</font2>
              <div id="key">m</div>
		<a id="img">{{ STATIC_URL }}images/103597.jpg</a>
            </div>
            <div class="box1 c2 count" id="comma">
              <font1>,</font1><br>
		<div><span id="countval">0</span> (<span id="abnormal">0</span>)</div>
              <font2>erythroid</font2>
              <div id="key">,</div>
		      <a id="img">{{ STATIC_URL }}images/101862.jpg</a>
            </div>
            <div class="box2 c1"></div>
            <div class="box2 c1"></div>
          </div>

          <div id="boxholder_spacebar">
            <div class="box_spacebar c3" id="spacebar"><font3><br>abnormal</font2></div>
          </div>
        </div>

        <div id="total">0</div>

        </div>

<div id="statistics"></div>

<form action="" method="POST" class="form-horizontal">
    {% csrf_token %}
    <legend>Count Information</legend>
    <div class="control-group">
        <label class="control-label" for="{{ cellcount.tissue_type.auto_id }}">{{ cellcount.tissue_type.label}}</label>
        <div class="controls">
            {{ cellcount.tissue_type }}
        </div>
    </div>
    <legend>Background Findings</legend>
    <div class="row">
        <div class="span6">
        {% for field in bonemarrowbackground %}
        {% if forloop.counter == 4 %}
        </div>
        <div class="span6">
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="{{ field.auto_id }}">{{field.label}}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
        {% if forloop.last %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <legend>Granulopoiesis Findings</legend>
    <div class="row">
        <div class="span6">
        {% for field in granulopoiesis_form %}
        {% if forloop.counter == 2 %}
        </div>
        <div class="span6">
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="{{ field.auto_id }}">{{field.label}}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
        {% if forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <legend>Erythropoiesis Findings</legend>
    <div class="row">
        <div class="span6">
        {% for field in erythropoiesis_form %}
        {% if forloop.counter == 2 %}
        </div>
        <div class="span6">
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="{{ field.auto_id }}">{{field.label}}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
        {% if forloop.last %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <legend>Megakaryocyte Features</legend>
    <div class="row">
        <div class="span6">
        {% for field in megakaryocyte_form %}
        {% if forloop.counter == 3 %}
        </div>
        <div class="span6">
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="{{ field.auto_id }}">{{field.label}}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
        {% if forloop.last %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <legend>Iron Stain</legend>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <label class="checkbox control-label" for="{{ ironstain_form.stain_performed.auto_id }}">{{ironstain_form.stain_performed.label}} {{ironstain_form.stain_performed}}</label>
            </div>
            <div class="control-group">
                <label class="checkbox control-label" for="{{ ironstain_form.ringed_sideroblasts.auto_id }}">{{ironstain_form.ringed_sideroblasts.label}} {{ironstain_form.ringed_sideroblasts}}</label>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <label class="control-label" for="{{ ironstain_form.iron_content.auto_id}}">{{ironstain_form.iron_content.label}}</label>
                <div class="controls">
                {{ironstain_form.iron_content }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="{{ ironstain_form.comment.auto_id}}">{{ironstain_form.comment.label}}</label>
                <div class="controls">
                {{ironstain_form.comment}}
                </div>
            </div>
        </div>
    </div>
    <legend>Overall Comment</legend>
    <p>{{ cellcount.overall_comment.label }}</p>
    {{ cellcount.overall_comment }}

    {% for form in cellcountformslist %}
    <div id="{{form.initial.cell.machine_name}}" class="cellcount-form">
        {{ form.errors }}
        {{ form.as_p }}
    </div>
    {% endfor %}
    <br>
    <input class="btn btn-success" type="submit" value="Submit" />
</form>

{% endblock %}
