{% extends 'main/base.html' %}

{% block content %}


<p>To begin a new count, click 'Open Keyboard', perform the count using your keyboard and the keys displayed. Should you wish to see example images of the cells in question, press 'Shift+Letter', to enter an abnormal variant of a cell, press 'Space+Letter', and to remove a count, press 'Backspace+Letter'. To close the keyboard, click on the grey area outside the keyboard.<!-- Once you have completed a count, fill in the remaining information in the form below, and click 'Submit'.--></p>

{% include "main/keyboard_snippet.html" %}

<div style="width: 100%">
    <div id="statistics" style="float: left; margin-bottom: 20px;"></div>
    <div id="visualise2" style="display: none; position: relative;">
        <div id="doughnut2"></div>
        <div id="total2" style="width: 100%; height: 100%; text-align: center; position: absolute; left: 0px; top: 0px; line-height: 200px">0</div>
    </div>
</div>
<div style="clear: both; position: relative; display: none;" id="savefilebutton">
    <div id="downloadify" style="position: absolute; top:0px; left:0px;">
    You must have Flash 10 installed to download this file.
    </div>
    <button class="btn btn-primary" id="downloadify_button" style="width:130px">Save as CSV</button>
</div>
<div style="clear: both; border: 1px solid #aaaaaa; margin-top: 50px; margin-bottom: 30px;"></div>

<!--
<form action="" method="POST" class="form-horizontal">
    {% csrf_token %}
    
    {% include "main/forms/cellcountinstance_form.html" %}
    {% include "main/forms/bonemarrowbackground_form.html" %}
    {% include "main/forms/granulopoiesis_form.html" %}
    {% include "main/forms/erythropoiesis_form.html" %}
    {% include "main/forms/megakaryocytefeatures_form.html" %}
    {% include "main/forms/ironstain_form.html" %}
    {% include "main/forms/overallcomment_form.html" %}
    
    {% for form in cellcountformslist %}
    <div id="{{form.initial.cell.machine_name}}" class="cellcount-form">
        {{ form.errors }}
        {{ form.as_p }}
    </div>
    {% endfor %}
    <br>
    <input class="btn btn-success" type="submit" value="Submit" />
</form>
-->

{% endblock %}
