{% extends 'main/base.html' %}

{% block content %}

<h3>Terms of Use</h3>

    <p>CellCountr runs purely in the user's browser as a JavaScript application. No data relating to a patient entered
        using the website is stored on, or transmitted to a remote server. CellCountr does not offer any medical
        diagnostic advice or opinions. Use of this tool is subject to agreement to the Terms given below.</p>

<h4>Your agreement to the Terms</h4>

    <p>Your access or use of this website or service in any way signifies that you have read, understand and agree to be
        bound by these terms.</p>

    <p>By accessing or using this Website or Service you also represent that you have the legal authority to accept the
        Terms on behalf of yourself and any party you represent in connection with your use of this Website or Service.
        If you do not agree to the Terms, you are not authorized to use this Website or Service.</p>

<h4>DISCLAIMER OF WARRANTIES</h4>

    <p>To the fullest extent permitted by the applicable law, CellCountr offers the websites and services as-is and
        makes no representations or warranties of any kind concerning the websites or services, express, implied,
        statutory or otherwise, including, without limitation, warranties of title, merchantibility, fitness for a
        particular purpose, or noninfringement. CellCountr does not warrant that the functions or content contained on
        the website or services will be uninterrupted or error-free, that defects will be corrected, or that
        CellCountr’s servers are free of viruses or other harmful components. CellCountr does not warrant or make any
        representation regarding use or the result of use of the content in terms of accuracy, reliability, or
        otherwise.</p>

<h4>LIMITATION OF LIABILITY</h4>

    <p>Except to the extent required by applicable law and then only to that extent, in no event will CellCountr, its
        contributors, employees, officers, directors, affiliates or agents (“the CellCountr parties”) be liable to you
        on any legal theory for any incidental, direct, indirect, punitive, actual, consequential, special, exemplary or
        other damages, including without limitation, loss of revenue or income, lost profits, pain and suffering,
        emotional distress, cost of substitute goods or services, or similar damages suffered or incurred by you or any
        third party that arise in connection with the websites or services (or the termination thereof for any reason),
        even if the CellCountr parties have been advised of the possibility of such damages.</p>

    <p>The CellCountr parties shall not be responsible or liable whatsoever in any manner for any content posted on the
        websites or services including claims of infringement relating to content posted on the websites or services,
        for your use of the websites and services, or for the conduct of third parties whether on the websites, in
        connection with the services or otherwise relating to the websites or services.</p>

<h4>PRIVACY POLICY</h4>

    <p>Our <a href="{% url "privacy" %}">Privacy Policy</a> explains how we use your data and protect your privacy
        whilst using CellCountr. By agreeing these terms of service, you agree that we may use such data in line with
        our policy.</p>

<h4>ABOUT THESE TERMS</h4>

    <p>We may modify these terms to, for example, reflect changes to the law or changes to CellCountr. You should look
        at the terms regularly. We’ll post notice of modifications to these terms on this page. Changes will not apply
        retroactively and will become effective no sooner than fourteen days after they are posted. However, changes
        addressing new CellCountr functionality or changes made for legal reasons will be effective immediately. If you
        do not agree to the modified terms, you should discontinue your use of CellCountr.</p>
    <p>These terms control the relationship between CellCountr and you. They do not create any third party beneficiary
        rights.</p>

    <p>These terms were adapted from <a href="http://creativecommons.org/terms">http://creativecommons.org/terms</a>
        under Creative Commons License.</p>

{% endblock %}
