{% extends 'main/base.html' %}

{% block content %}

<h3>Terms of Use</h3>

<p>CellCountr runs purely in the user's browser as a JavaScript application. No data related to a patient entered using the website is stored on a remote server. Use of this tool is subject to agreement to the Terms given below.</p>

<div id="terms">
<h4>1. Your agreement to the Terms.</h4>

<p>YOUR ACCESS OR USE OF THIS WEBSITE OR SERVICE IN ANY WAY SIGNIFIES THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS. By accessing or using this Website or Service you also represent that you have the legal authority to accept the Terms on behalf of yourself and any party you represent in connection with your use of this Website or Service. If you do not agree to the Terms, you are not authorized to use this Website or Service.</p>

<h4>2. DISCLAIMER OF WARRANTIES.</h4>

<p>TO THE FULLEST EXTENT PERMITTED BY THE APPLICABLE LAW, CELLCOUNTR OFFERS THE WEBSITES AND SERVICES AS-IS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND CONCERNING THE WEBSITES OR SERVICES, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF TITLE, MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT.
CELLCOUNTR DOES NOT WARRANT THAT THE FUNCTIONS OR CONTENT CONTAINED ON THE WEBSITE OR SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT CELLCOUNTR’S SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. CELLCOUNTR DOES NOT WARRANT OR MAKE ANY REPRESENTATION REGARDING USE OR THE RESULT OF USE OF THE CONTENT IN TERMS OF ACCURACY, RELIABILITY, OR OTHERWISE.

<h4>3. LIMITATION OF LIABILITY.</h4>

<p>EXCEPT TO THE EXTENT REQUIRED BY APPLICABLE LAW AND THEN ONLY TO THAT EXTENT, IN NO EVENT WILL CELLCOUNTR, ITS CONTRIBUTORS, EMPLOYEES, OFFICERS, DIRECTORS, AFFILIATES OR AGENTS (“THE CELLCOUNTR PARTIES”) BE LIABLE TO YOU ON ANY LEGAL THEORY FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR OTHER DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF REVENUE OR INCOME, LOST PROFITS, PAIN AND SUFFERING, EMOTIONAL DISTRESS, COST OF SUBSTITUTE GOODS OR SERVICES, OR SIMILAR DAMAGES SUFFERED OR INCURRED BY YOU OR ANY THIRD PARTY THAT ARISE IN CONNECTION WITH THE WEBSITES OR SERVICES (OR THE TERMINATION THEREOF FOR ANY REASON), EVEN IF THE CELLCOUNTR PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<p>THE CELLCOUNTR PARTIES SHALL NOT BE RESPONSIBLE OR LIABLE WHATSOEVER IN ANY MANNER FOR ANY CONTENT POSTED ON THE WEBSITES OR SERVICES INCLUDING CLAIMS OF INFRINGEMENT RELATING TO CONTENT POSTED ON THE WEBSITES OR SERVICES, FOR YOUR USE OF THE WEBSITES AND SERVICES, OR FOR THE CONDUCT OF THIRD PARTIES WHETHER ON THE WEBSITES, IN CONNECTION WITH THE SERVICES OR OTHERWISE RELATING TO THE WEBSITES OR SERVICES.</p>
</div>

<p>These terms were adapted from <a href="http://creativecommons.org/terms">http://creativecommons.org/terms</a> under Creative Commons License.</p>

{% endblock %}
