{% extends 'main/base.html' %}

{% block content %}

<form action="" method="post" class="form-horizontal">
{% csrf_token %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>
        {% for non_field_error in form.non_field_errors %}
             {{ non_field_error }}
        {% endfor %}
    </div>
{% endif %}

<div class="control-group {% if form.old_password.errors %}error{% endif %}">
    <label class="control-label" for="id_old_password">Old password</label>
    <div class="controls">
        {{ form.old_password }}
        {% if form.old_password.errors %}<span class="help-inline">{{ form.old_password.errors }}</span>{% endif %}
    </div>
</div>

<div class="control-group {% if form.new_password1.errors %}error{% endif %}">
    <label class="control-label" for="id_new_password1">New password</label>
    <div class="controls">
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}<span class="help-inline">{{ form.new_password1.errors }}</span>{% endif %}
    </div>
</div>

<div class="control-group {% if form.new_password2.errors %}error{% endif %}">
    <label class="control-label" for="id_new_password2">Repeat new password</label>
    <div class="controls">
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}<span class="help-inline">{{ form.new_password2.errors }}</span>{% endif %}
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <input type="submit" class="btn btn-success" value="Change Password">
    </div>
</div>

</form>
{% endblock %}