{% extends 'main/base.html' %}

{% block content %}

{% if user_detail %}
<h1>{{ user_detail.username }}</h1>
<p>Welcome to <span class="logocell">Cell</span><span class="logocount">countr</span> {{ user_detail.first_name }}.</p>

<h2>User Details</h2>
<table class="table">
<tr><th>Full Name</th><td>{{ user_detail.first_name }} {{ user_detail.last_name }}</td></tr>
<tr><th>Email Address</th><td>{{ user_detail.email }}</td></tr>
</table>

<h2>User Functions</h2>
<table class="table">
<tr><td><a href="{% url "user-update" user.id %}" class="btn btn-success">Update My Details</a></td></tr>
<tr><td><a href="{% url "change-password" %}" class="btn btn-primary">Change Password</a></td></tr>
<tr><td><form method="GET" action="{% url "user-delete" user.id %}">{% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Delete My User">
</form></td></tr>
</table>

<h2>License</h2>
<p>Review signed <a href="{% url "license-detail" license.id %}">license agreement</a></p>

{% else %}
<p>Not permitted to view this user.</p>
{% endif %}

{% endblock %}