{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}

<div style="width:100%;">
    <div id="uniquehosts" style="float:left; margin: 20px">
        Unique visitors
        <div id="uniquehostsdata" style="font-size: 250%; text-align: center; padding-top: 20px">
            Loading data...
        </div>
    </div>

    <div id="visitors" style="float:left; margin: 20px">
        <span id="visitors_span">Hits this month:</span>
        <div id="visitorsgraph" style="">
        </div>
    </div>
</div>

<div style="width:100%; clear:both">
<div id="referrals" style="float:left; width:40%">
    <h3>Top referrals</h3>
    <div id="referralsdata">
        Loading data...
    </div>
</div>

<div id="pages" style="width:60%; float:left">
    <h3>Top visited pages</h3>
    <div id="pagesdata">
        Loading data...
    </div>
</div>
</div>

<div id="hosts" style="float:left; clear:both">
    <h3>Top hosts</h3>
    <div id="hostsdata">
        Loading data...
    </div>
</div>


{% endblock %}


{% block additional_scripts %}
<script type="text/javascript" src="{% static "js/log.js" %}"></script>
{% endblock %}

