<legend>Megakaryocyte Features</legend>
<div class="row">
    <div class="span6">
    {% for field in megakaryocyte_form %}
    {% if forloop.counter == 4 %}
    </div>
    <div class="span6">
    {% endif %}
    <div class="control-group">
        {{ field.errors }}
        <label class="control-label" for="{{ field.auto_id }}">{{field.label}}</label>
        <div class="controls">
            {{ field }}
        </div>
    </div>
    {% if forloop.last %}
    </div>
{% endif %}
{% endfor %}
</div>
