/* Base cellcounter css */

#boxholder1 { width: 800px; min-height: 80px; border: solid white 1px; margin: auto; }
#boxholder2 { width: 720px; min-height: 80px; border: solid white 1px; margin: auto; }
#boxholder3 { width: 888px; min-height: 80px; border: solid black 1px; margin: auto; }
#boxholder3holder { width: 888px; min-height: 80px; border: solid white 1px; margin: auto; }

#boxholder_spacebar { width: 475px; min-height: 80px; border: white 1px; margin: auto; }
#boxholder_shiftkey { width: 140px; min-height: 80px; border: white 1px; margin: auto; }

.box1 { width: 74px; height: 74px; border: solid black 3px; float: left; text-align: center; }
.box2 { width: 74px; height: 74px; border: solid white 3px; float: left;  text-align: center; }
.box_spacebar { width: 469px; height: 74px; border: solid black 3px; float: left; margin-bottom:40px; text-align: center; }
.box_shiftkey { width: 142px; height: 74px; border: solid black 3px; float: left;  text-align: center; }

.c1 { background: #FFF }
.c2 { background: #E24 }
.c3 { background: #85F }

font1 { text-decoration: none; font-weight: bold; color: black; font-size: 32px }
font2 { text-decoration: none; font-weight: bold; color: #AAA; font-size: 12px }
font3 { text-decoration: none; font-weight: bold; color: black; font-size: 18px }
font4 { text-decoration: none; font-weight: bold; color: #AAA; font-size: 11px }
font5 { text-decoration: none; font-weight: bold; color: #03A; font-size: 18px; padding-right:20px; }

.header{margin-top: 1em;}

.logo{text-decoration: none;
      line-height: 40px; }

.logocell{font-weight: bold;
          color: red;
          font-size: 40px}

.logocount {color: black;
            font-size: 40px }

.userbar.username {padding:10px 15px 10px;}
.userbar a {padding: 10px 15px 10px;}

