/* Base cellcounter css */

nav {
    text-align: right;
    padding: 0.75em;
    padding-bottom: 0em;
    background: #1B1B1B;
    height: 2em;
}

body { background: #fff; text-align: center; font: 12px "Trebuchet MS", Arial, sans-serif; margin: 20px; padding: 0 }

#boxholder1 { width: 800px; min-height: 80px; border: solid white 1px; margin: auto; }
#boxholder2 { width: 720px; min-height: 80px; border: solid white 1px; margin: auto; }
#boxholder3 { width: 888px; min-height: 80px; border: solid black 1px; margin: auto; }
#boxholder3holder { width: 888px; min-height: 80px; border: solid white 1px; margin: auto; }

#boxholder_spacebar { width: 475px; min-height: 80px; border: white 1px; margin: auto; }
#boxholder_shiftkey { width: 140px; min-height: 80px; border: white 1px; margin: auto; }

.box1 { width: 74px; height: 74px; border: solid black 3px; float: left; text-align: center; }
.box2 { width: 74px; height: 74px; border: solid white 3px; float: left;  text-align: center; }
.box_spacebar { width: 469px; height: 74px; border: solid black 3px; float: left; margin-bottom:40px; text-align: center; }
.box_shiftkey { width: 142px; height: 74px; border: solid black 3px; float: left;  text-align: center; }

.c1 { background: #FFF }
.c2 { background: #E24 }
.c3 { background: #85F }

font1 { text-decoration: none; font-weight: bold; color: black; font-size: 32px }
font2 { text-decoration: none; font-weight: bold; color: #AAA; font-size: 12px }
font3 { text-decoration: none; font-weight: bold; color: black; font-size: 18px }
font4 { text-decoration: none; font-weight: bold; color: #AAA; font-size: 11px }
font5 { text-decoration: none; font-weight: bold; color: #03A; font-size: 18px; padding-right:20px; }

a.navbar { font-weight: bold; color: #00B; font-size: 18px; padding-right: 20px;}
a.table { font-weight: bold; color: #00B; font-size: 12px;}

a { font-weight: bold; color: #00B; font-size: 18px;}

#content { text-align: left; border-width: 0 6px; margin: auto; padding: 10px }
#content { font-size: 12px; }

th.content { border-bottom:1px solid black; border-top:1px solid black; padding:5px; background:#CCC; }
tr.content {padding:5px;}
table.content { border-bottom:1px solid black; background:#EEE; valign:top;}

table {text-align:left; margin:10px; border:none}
td {margin-left:10px }

div#cellcountfields,div#bonemarrowfields {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}

div#cellcountfields table td,div#bonemarrowfields table td {
  text-align: right;
  padding-left:10px;
  padding-right: 10px;
}

