/* Base cellcounter css */

#boxholder1 { width: 800px; min-height: 80px; border: solid white 1px; margin: auto; }
#boxholder2 { width: 720px; min-height: 80px; border: solid white 1px; margin: auto; }
#boxholder3 { width: 888px; min-height: 80px; border: solid black 1px; margin: auto; }
#boxholder3holder { width: 888px; min-height: 80px; border: solid white 1px; margin: auto; }

#boxholder_spacebar { width: 475px; min-height: 80px; border: white 1px; margin: auto; }
#boxholder_shiftkey { width: 140px; min-height: 80px; border: white 1px; margin: auto; }

.box1 {
    width: 74px;
}

.box1, .box_spacebar, .box_shiftkey {
    border: solid black 1px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    margin-right: 4px;
    height: 74px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px #888;
    -moz-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

.box1 p, .box_spacebar, .box_shiftkey {
    font-weight: bold;
}

.box1 p {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.box2 { width: 74px; height: 74px; border: solid white 3px; float: left;  text-align: center; }
.box_spacebar { width: 469px; margin-bottom:40px;}
.box_shiftkey { width: 142px}

.c1 { background: #FFF }
.c2 { background: #E24 }
.c3 { background: #85F }

font1 { text-decoration: none; font-weight: bold; color: black; font-size: 32px }
font2 { text-decoration: none; font-weight: bold; color: #AAA; font-size: 12px }
font3 { text-decoration: none; font-weight: bold; color: black; font-size: 18px }
font4 { text-decoration: none; font-weight: bold; color: #AAA; font-size: 11px }
font5 { text-decoration: none; font-weight: bold; color: #03A; font-size: 18px; padding-right:20px; }

.header{margin-top: 1em;}

.logo{text-decoration: none;
      line-height: 40px; }

.logocell{font-weight: bold;
          color: red;
          font-size: 40px}

.logocount {color: black;
            font-size: 40px }

.username {padding:10px 15px 10px;}

div#statistics table.statistics {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

div#statistics th,td {
    border: 1px solid black;
    padding: 1px 10px;
}

div#statistics td.noborder {
    border: none;
}

div#statistics table.statistics td {
    text-align: right;
}

div#statistics table.statistics td.celltypes {
    text-align: left;
}

div#visualise2 {

    float: left;
    /*height: 100%;*/
    margin-top: 12%;
    margin-left: 100px;
}


div#doughnut2 {
}

div#downloadify {
    /*padding: 5px;*/
}
