/* Base cellcounter css */

nav {
    text-align: right;
    padding: 0.75em;
    padding-bottom: 0em;
    background: #1B1B1B;
    height: 2em;
}

div#total {
   clear: both;
   font-size: 300%;
   display: block;
   position: absolute;
   top: 300px;
   left: 30px;
}

div.count #cellname {
  text-align: center;
}

div.count #key {
  font-size: 200%;
  text-align: center;
  display: none;
}

div#counterbox {
  /*clear: both;*/
  position: relative;
  display: none;
  background-color: #ffffff;
  z-index: 11;
  height: 400px;
  border: 2px solid black;
  border-radius: 15px;
}

div#terbox {
  margin-top: 40px;
  margin-left: 30px;
}

#fuzz {
  position:absolute;
  width:100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
/*  height: 500px;*/
  z-index: 10;
  /*background: url('/static/images/fuzz.gif');*/
  display:none;
  text-align:left;
  background-color: #e5e5e5;

  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  overflow: hidden;
}

a#img {
  display: none;
}

div#imagebox {
  position: relative;
  /*text-align:center;*/
  z-index: 120;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  width: 400px;
  display: none;
  background-color: #e5e5e5;
  margin: auto;
}

div#imgdisplay {
  height: 300px;
  width: 400px;

}

div#keyboard {
  margin-top: 40px;
  margin-left: 20px;
}


div#celllist ul {
    list-style: none;
}

div#celllist li {
    padding: 2px 0 0 25px;
}

#edit_button {
    position: absolute;
    margin-top: 8px;
    right: 8px;
}

#reset_button {
    position: absolute;
    top: 300px;
    left: 20px;
}

