
/* Keyboard specific css */

nav {
    text-align: right;
    padding: 0.75em;
    padding-bottom: 0em;
    background: #1B1B1B;
    height: 2em;
}

div#visualisation {
    float: right;
    z-index: 100;
    position: absolute;
}

div#total {
   clear: both;
   font-size: 300%;
   display: block;
   position: absolute;
   top: 300px;
   left: 30px;
}

div.count #cellname {
  text-align: center;
}

div.count #key {
  font-size: 200%;
  text-align: center;
  display: none;
}

div#counterbox {
  /*clear: both;*/
  display: none;
  background-color: #ffffff;
  z-index: 11;
  height: 350px;
  border: 2px solid black;
  border-radius: 15px;
}

div#keysbox {
  margin-top: 40px;
  margin-left: 30px;
}

#fuzz {
  position:absolute;
  width:100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
/*  height: 500px;*/
  z-index: 10;
  /*background: url('/static/images/fuzz.gif');*/
  display:none;
  text-align:left;
  background-color: #e5e5e5;

  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  overflow: hidden;
}

div#keyboard {
  margin-top: 40px;
  margin-left: 20px;
}

/* CSS for the large keyboard */

@media screen and (min-width: 1200px) {

.largekeyboard #boxholder1 { min-height: 80px; border: solid white 1px; padding-left: 44px }
.largekeyboard #boxholder2 { min-height: 80px; border: solid white 1px; padding-left: 84px }
.largekeyboard #boxholder3 { min-height: 80px; border: solid black 1px; }
.largekeyboard #boxholder3holder { min-height: 80px; border: solid white 1px; }

.largekeyboard #boxholder_spacebar { min-height: 80px; border: white 1px; padding-left: 205px; }
.largekeyboard #boxholder_shiftkey { min-height: 80px; border: white 1px; padding-left: 200px; }

.largekeyboard .box1 {
    width: 74px;
}

.largekeyboard .box1,
.largekeyboard .box_spacebar,
.largekeyboard .box_shiftkey {
    border: solid black 1px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    margin-right: 4px;
    height: 74px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px #888;
    -moz-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

.largekeyboard .box1 p,
.largekeyboard .box_spacebar,
.largekeyboard .box_shiftkey {
    font-weight: bold;
}

.largekeyboard .box1 p {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.largekeyboard div.name {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.largekeyboard div.name {
   font-size: 14px;
}

.largekeyboard .box_spacebar { width: 469px; margin-bottom:40px;}
.largekeyboard .box_shiftkey { width: 142px}

div#visualisation.largekeyboard {
    top: 50px;
    right: 60px;
}

.largekeyboard #reset_button {
    position: absolute;
    top: 300px;
    left: 20px;
}

.largekeyboard #close_button {
    position: absolute;
    top: 340px;
    left: 20px;
}

div#counterbox.largekeyboard {
    height: 400px;
}

}

/* CSS for the small keyboard */

#boxholder1 { min-height: 65px; border: solid white 1px; padding-left: 25px }
#boxholder2 { min-height: 65px; border: solid white 1px; padding-left: 55px }
#boxholder3 { min-height: 65px; border: solid black 1px; }
#boxholder3holder { min-height: 65px; border: solid white 1px; }

#boxholder_spacebar { min-height: 65px; border: white 1px; padding-left: 155px; }
#boxholder_shiftkey { min-height: 65px; border: white 1px; padding-left: 200px; }

.box1 {
    width: 60px;
    line-height: 1.1em;
}

.box1,
.box_spacebar,
.box_shiftkey {
    border: solid black 1px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    margin-right: 4px;
    height: 60px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px #888;
    -moz-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

.box1 p,
.box_spacebar,
.box_shiftkey {
    font-weight: bold;
}

.box1 p {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.name {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

div.count {
    font-size: 13px;
}

.box_spacebar { width: 386px; margin-bottom:40px;}
.box_shiftkey { width: 103px}

div#visualisation {
    top: 60px;
    right: 20px;
}



div#celllist ul {
    list-style: none;
    margin: 0px;
    margin-top: 5px;
}

div#celllist li {
    /*padding: 2px 0 0 25px;*/
    float: left;
    width: 160px;
    margin: 2px;
    padding: 2px;
}

div#celllist li.selected {
    background-color: white;
    border-radius: 5px;
}

div#celllist li div.element {
    display: inline;
    cursor: pointer;
}

div#celllist li.selected div.element {
    font-weight: bold;
    color: red;
}

#edit_button {
    position: absolute;
    margin-top: 8px;
    right: 8px;
}

#reset_button {
    position: absolute;
    top: 250px;
    left: 20px;
}

#close_button {
    position: absolute;
    top: 290px;
    left: 20px;
}

div.edit_colour_swatch {
    width: 30px;
    background-color: #e5e5e5;
    height: 1.1em;
    float: left;
    margin-right: 5px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px solid black;
    border-radius: 5px;
}

li.selected div.edit_colour_swatch {
    width: 30px;
    background-color: #e5e5e5;
    height: 1.1em;
    float: left;
    margin-right: 4px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 2px solid black;
    border-radius: 5px;
}

div#editkeymapbox {
    display: none;
}


